:root {
  --ah-color-primary-light: #ffff;
  --ah-color-primary-dark: #213547;
  --ah-color-secondary-dark: #3c3c4399;
  --ah-color-background: #1b4de4;

  --ah-typography-h1: 2.2rem;
  --ah-typography-h2: 1.25rem;
  --ah-typography-typeface: 'Roboto', sans-serif;

  --ah-typography-h1-leading: 1.2;
  --ah-typography-h2-leading: 1.5rem;

  --ah-typography-margin-heading: 2rem;

  --ah-layout-padding: 1.5rem;
  --ah-card-header-padding: 1rem 0;
  --ah-heading-icon-padding: 0.5rem;
  --ah-section-padding: 0.5rem 0;

  --ah-radius-card: 1.125rem;
  --ah-radius-card-secondary: 0.625rem;

  --ah-border-card: 0.245rem solid var(--ah-color-primary-light);
  --ah-box-shadow-card: 0px 0.375rem 2.5rem var(--ah-color-shadow);
  --ah-icon-shadow-card: 0px 9px 10px -3px #177e2526, 0px 0px 10px #00000012;
  --ah-backdrop-filter-card: blur(0.3125rem);

  font-family: var(--ah-typography-typeface);
  line-height: 1.5;
  font-weight: 400;

  color: var(--ah-color-primary-light);
  background-color: var(--ah-color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  transition: all 0.25s ease-in-out;
}
a:hover {
  color: #eb6e4b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  min-height: 100svh;
}

h1 {
  line-height: var(--ah-typography-h1-leading);
  text-align: center;
}

h2 {
  font-size: var(--ah-typography-h2);
  line-height: var(--ah-typography-h2-leading);
  text-align: center;
}

#root {
  padding: 0;
  margin: 0 auto;
}